@model IEnumerable<BOL.Data.Course>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/carousel-9.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Get Educated Online From Your Home</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- ============================================== -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/img/a.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
              
                <h2 class="mb-4">Welcome to Online Learning Mangement System</h2>
                <p class="mb-4">A platform that assists the delivery of content online for learning purposes.It is for information sharing between individuals giving them the flexibility to access it from their home.</p>
                <p class="mb-4">Content is centralized in an online environment where learners can access and download information from any location.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- ============================================== -->
<!-- Categories Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            @foreach (var item in ViewBag.CategoryId)
            {
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5>

                            <a class="mb-3" asp-action="filtercourses" asp-route-id="@item.Id"> @item.Name  </a>
                            </h5>
                    </div>
                </div>
            </div>
            
            }
           
        </div>
    </div>
</div>
<!-- Categories End -->
<!--============================================== -->

<!-- Courses Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
        </div>
        <div class="row g-3 pt-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 border-2 wow zoomIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="~/img/v1.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">

                                    <h5 class="m-0">Public Speaking</h5>
            
                                <small class="text-primary">15 Lectures</small>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 border-2 wow zoomIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="~/img/values-3.png" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Management</h5>
                                <small class="text-primary">45 Lectures</small>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 border-2 wow zoomIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid border-2" src="~/img/values-1.png" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Accounting</h5>
                            <small class="text-primary">30 Lectures</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 border-2 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px; visibility: visible; animation-delay: 0.7s; animation-name: zoomIn;">
                <a class="position-relative d-block h-100 overflow-hidden" href="">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/img/carousel-7.jpg" alt="" style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                        <h5 class="m-0">Chemistry</h5>
                        <small class="text-primary">20 Lectures</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->
<!-- ============================================== -->


