@{
    ViewData["Title"] = "CreateRoles";
}

<h1>CreateRoles</h1>

<form asp-action="CreateRoles">
    <div class="form-control">
        <input type="text" class="form-control" name="txtRoleName" />
    </div>
    <input type="submit" class="btn btn-primary" name="Add Role" />


</form>
