@model IEnumerable<IdentityUser>
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "SortByRole";
}

<h1 class="mt-4">Sort By Role</h1>

<a asp-action="AssignRole">Assign Role</a>
<form asp-action="SortByRole">
    <div class="form-group mb-2">
        <select asp-items="ViewBag.RoleId" name="RoleId" class="form-control"
                onchange="this.form.submit()">
            <option value="null">-Select Role-</option>
        </select>
    </div>
</form>

@if (Model != null)
{
    <ul>
        @foreach (var item in Model)
        {


            <li>@item.Email</li>

        }
    </ul>
}