@model BOL.Data.File

@{
    ViewData["Title"] = "Details";
}

<h1 class="mt-3">View Details</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Download Lecture File
        </dt>
        <dd class = "col-sm-10">
           
            <button class="btn btn-secondary" onclick="window.location.href='/files/@Model.Path';">
      Click Here
    </button>
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
